@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Tags*/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    height: auto;
}

a {
    text-decoration: none;
    color: #023B45;
}

img {
    max-width: 100%;
}

input::placeholder {
    color: #CCCCCC;
}

input::-webkit-search-cancel-button {
    -webkit-color: #023B45;
    size: 14px;
    padding-right: 50px;
}
form {
    position: relative;
    width: auto;
    margin: 0 auto;
}

header button {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
}

header button::before {
    color: #023B45;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex; /*flex-box*/
    justify-content: space-between;
}

header div.middle ul {
    list-style: none;
    display: flex; /*flex-box*/
    padding-top: 40px;
    justify-content: space-between;
}

header nav.menu ul li a {
    color: #023B45;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 10px;
    }

header div.middle ul li a {
    color: #023B45;
    font-size: 14px;
    font-weight: 500;
    }


/*Image*/
header nav.menu ul li a img {
    padding: 0px 10px;
}

header .logo {
    height: 108px;
    width: 269px;
    padding: 10px;
}

header div.middle:not(input.h-search) ul li a img {
    width: 28px;
    min-width: 20px;
    height: 23px;
    justify-content: center;
    align-items: center;
    }

.img-loop {
    color: #023B45;
    margin-right: 100px;
}

.icon {
    color: #437532;
    margin-top: 2px;
}

.icon:hover {
    fill: #023B45;}
/***/

.wrapper {
    background-color: #ffff;
    width: 100%;
}

.container {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #CCCCCC;
    top: 0px;
    max-height: 30px;
    width: 1600px;
    justify-content: center;
    color: #023B45;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0px;
}

.menu {
    background-color: #ffff;
    height: 40px;
    width: 1600px;
    justify-content:space-between;
}

.menu-button {
    background-color: #ABDFAB;
    min-width: 256px;
    max-width: 285px;
    max-height: 40px;
    min-height: 40px;
    text-align: center;
    padding: 10px 12px;
}


header nav ul li ul {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}



.menu ul li .whole-catalog, .menu ul li .catalog {
    display: none;
}

.menu ul li:hover > .whole-catalog {
    display: block;
    transition: all 500ms ease;
}

.menu ul li .whole-catalog ul li:hover > .catalog {
    display: block;
    transition: all 500ms ease;
}

.menu ul li .whole-catalog ul li.active > .catalog {
    display: block;
}

header nav ul li ul li div ul {
    display: flex;
    flex-wrap: wrap;
}

header nav ul li ul li ul {
    left: 200px;
    top: 50px;
}

header nav ul li ul li {
    margin-bottom: 6px;
}
header nav ul li ul li div ul li:hover {
    text-decoration: underline;
    color: #023B45;
    transition: all 500m ease;
}

.catalog {
    display: inline-grid;
    background-color: #ffff;
    position: absolute;
    margin-left: 286px;
    width: 442px;
    height: 221px;
    top: 0;
}

.catalog-title {
    width: 285px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 97px;
    background-color: #ABDFAB;
    transition: all 500ms ease;   
}

.catalog-title:hover {
    background-color: #DCD548; 
}

.catalog-title-block {
    padding-top: 10px;
    padding-bottom: 5px;
}

.catalog-title-block a span {
    font-weight: 700;
}

.catalog-title-block a:hover {
    text-decoration: underline;
    color: #023B45;
    transition: all 500ms ease;   
}

.whole-catalog {
    display: block;
    width: 729px;
    height: 222px;
    background-color: #ABDFAB;
    position: absolute;
}

.menu-button:hover {
    text-decoration: underline;
}
/**/
.middle {
    background-color: #ffff;
    float: right;
    padding-bottom: 30px;
}

.h-search {
    background-color: #ffff;
    width: 865px;
    height: 50px;
    padding-left: 20px;
    padding-right: 10px;
    color: #023B45;
    border-style: solid;
    border-color:#CCCCCC;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 100px;
    font-size: 16px;    
}
.h-search:focus{
    outline-color: #437532;
    color: #023B45;
    outline-width: 1px;
    outline-style: solid;
}

.feedback-container {
    position: relative;
    display: inline-block;
}

.feedback-button {
    border: none;
}

.tooltip {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 250px;
    z-index: 10;
}

.feedback-container:hover .tooltip {
    display: block;
}

.main-button {
    background-color:#ffff;
    color: #023B45;
    font-size: 14px;
    font-weight: 600;
    min-height: 50px;
    border: #CCCCCC;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px;
    border-style: solid;
    transition: all 500ms ease;
}
.main-button:hover {
    border: #437532;
    border-style: solid;
    border-width: 1px;
}

.main-button a {
    color: #023B45;
}

.deliv {
    width: 350px;
    min-height: 900px;
    display: block;
}

#vert-line {
    border-left: #CCCCCC;
    border-right: #CCCCCC;
    border-width: 1px;
    border-style: groove;
    padding: 0 50px;
    margin: 0 50px;
    width: 450px;
}

#deliv-title {
    width: 1321px;
    border-bottom: #CCCCCC;
    border-style: groove;
    border-width: 1px;
    padding-left: 10px;
}

/*preview cart Home page*/

.cart-block a {
    text-decoration: none;
    color: #023B45;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cart-block a img {
    margin: 0px 40px;
}

.post img {
    width: 100px;
    height: 100px;
}

.cart-block a:not(button a):hover {
    text-decoration: underline;
    color: #023B45;
}

.cart-block div button .cart-block div span {
    margin: 0 5px;}

.cart-block div {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin: 0 10px;
}

.post {
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;

}

#_strust {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.struct {
    height: auto;
    width: 250px;
    padding: 0 50px;
}

#whole-blog {
    padding: 50px;
    border-left: #023B45 1px solid;
}

.whole-body-block {
    width: 1321px;
    min-height: 650px;
    background-color: #ffff;
    color: #023B45;
    margin: 0px 299px;
    display: flex;
    position: static;
    margin: 40px auto;
    flex-wrap: wrap;
}

#deliv {
    justify-content: center;
}

.rosm li {
    margin-left: 20px;
    margin-bottom: 5px;
}

.rosm ol {
    margin-left: 20px;
    margin-bottom: 5px;
}

.rosm p {
    margin: 20px 0;
}

#frame {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.whole-body-block-cart {
    width: 1600px;
    min-height: 1944px;
    color: #023B45;
    font-size: 14px;
    margin: 0px 299px;
    display: flex;
    position: static;
    margin: 40px auto;
    flex-wrap: wrap;
    background-color: #ffff;
    justify-content: space-around;
    align-content: flex-start;
}

.right-cart-text-block {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 750px;
    height: 630px;
    margin-left: 20px;
}

.cart-logo {
    width: 157px;
    height: 118px;
    margin: 5px;
}

.cart-title {
    font-size: 28px;
    font-weight: 700;
    height: 71px;
    padding-bottom: 25px;
}

.under-cart-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
}


.cart-in-out {
    display: inline-flex;
    align-items: center;
}

.cart-in-out p {
    font-size: 14px;
    color: #437532;
    padding-right: 13px;
}

.cart-in-out img {
    width: 27.5px;
    height: 22.5px;
}

.cart-dicr-country {
    padding-bottom: 46px;

}

.cart-deliver-city {
    color: #437532;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
}

select#post-city {
    color: #023B45;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    border-style: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 5px;
}

select#post-city:active {
    border-style: none;
    border-color: #DCD548;
}

option#is1:focus {
    background-color: transparent;
}

.cart-lines-botton-block {
    padding-bottom: 43px;
}

.cart-lines-botton {
    font-size: 24px;
    font-weight: 600;
    border-color: #ABDFAB;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    background-color: #ffff;
    position: relative;
    cursor: pointer;
    margin-right: 14px;
    transition: all 500ms ease;   
}

.cart-lines-botton:hover {
    background-color: #DCD548;
    border-color: #023B45;
}

.cart-lines-botton.active {
    background-color: #DCD548;
    border-color: #023B45;
}

.cart-lines-botton.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DCD548;
  border-color: #023B45;
  z-index: -1; /* Чтобы фон был под текстом */ 
}

.cart-price {
    color: #FE4274;
    font-size: 40px;
    font-weight: 700;
    margin-top: 25px;
}

div#price {
    margin-inline-end: auto;
    padding-left: 20px;
}

.cart-button {
    width: 100px;
    height: 50px;
    color: #ffff;
    background-color: #FE4274;
    transition: all 500ms ease;
    margin: 25px;
    border: 0;
    border-radius: 5px;
}

.cart-button:hover {
    color: #FE4274;
    font-weight: 600;
    background-color: #ffff;
    border: 1px solid #FE4274;
}

.cart-button:active {
    color: #ffff;
    background-color: #FE4274;
}


.cart-post-block {
    display: inline-flex;
    justify-content: space-around;
    margin: 14px 0;
    margin-left: -26px;
}


.cart-post-block-title {
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: -19px;
}

.cart-describe-block {
    width: 760px;
    margin-top: 75px;
}

.cart-option-table {
    border-style: none;
    width: 758px;
    height: 247px;
}

caption {
    font-weight: 700;
    font-size: 24px;
    text-align-last: left;
    margin-bottom: 25px;
}

#left {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

#right {
    color: #437532;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 29px;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 25px;
}

.cart-comment-block {
    width: 573px;
}

#btn-comment {
    justify-content: right;
    margin-right: 0;
}

#name {
    background-color: rgb(255, 255, 255, 0.3);
    width: 374px;
    height: 40px;
    color: #023B45;
    border-style: solid;
    border-color:#023B45;
    border-width: 1px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 30px;
}

textarea {
    background-color: rgb(255, 255, 255, 0.3);
    color: #023B45;
    border-style: solid;
    border-color:#023B45;
    border-width: 1px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}

textarea:focus {
    outline-color: #437532;
    color: #023B45;
    outline-width: 1px;
    outline-style: solid;
}

textarea::placeholder {
    color: #b6b6b6;
}

#text-comment {
    margin-bottom: 27px;
    min-width: 573px;
    max-width: 573px;
    min-height: 220px;
}

#btn-com {
    width: 573px;
    display: flex;
    justify-content: flex-end;
}

.main-cart-image {
    width: 588px;
    height: 588px;
    }

.cart-img-block {
    width: 730px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.sub-cart-image-block {
    width: 340px;
    height: 100px;
    display: block;
    margin: auto;
}

.sub-cart-image {
    width: 100px;
    height: 100px;
    justify-content: space-between;
}

.sub-cart-image-block ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.whole-body-block .row {
    width: 1321px;
    height: 296px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.cart-block {
    width: 225px;
    height: 296px;
    font-weight: 400;
    font-size: 14px;
    color: #023B45;
    border: #CCCCCC solid 1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 500ms ease;
}

.cart-block:hover {
    border: #023B45 solid 1px;
}

.cart-block .icon {
    margin-right: 5px;
}

.cart-block div span {
    margin-left: 5px;}

/*Sub*/

.sub-block {
    background: #DCD548;
    background: linear-gradient(180deg,#DCD548 0%, #ABDFAB 100%);
    height: 100px;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sub-block div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title {
    color: #023B45;
    font-weight: 700;
    font-size: 24px;
}
.sub-mail {
    background-color: rgb(255, 255, 255, 0.3);
    width: 600px;
    height: 50px;
    padding-left: 20px;
    padding-right: 10px;
    color: #023B45;
    border-style: solid;
    border-color:#023B45;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 177px;
    font-size: 16px;
}

input:focus {
    outline-color: #437532;
    color: #023B45;
    outline-width: 1px;
    outline-style: solid;
}

input::placeholder {
    color: #b6b6b6;
}

.sub-block input::placeholder {
    color: #023B45;
}

.sub-block .main-button {
    margin-left: -103px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #023B45;
    min-height: 49px;
    background-color: rgb(255, 255, 255, 0);
    transition: all 500ms ease;
}

.sub-block .main-button:hover {
    background-color: rgb(255, 255, 255, 1);
}

.sub-block div form {
    display: flex;
}

/*Footer*/
footer {
    margin: auto;
}

.footer-container-blocks {
    width: 1600px;
    height: 345px;
    background-color: #ABDFAB;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.footer-container-blocks div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    }

.footer-container-blocks {
    list-style: none;
    padding-top: 20px;
    color: #023B45;
    transition: all 500ms ease;
}

.footer-container-blocks > *:not(span) li:hover {
    text-decoration: underline;
    color: #023B45;
}

.footer-container-blocks li {
    padding-bottom: 5px;
    padding-right: 5px;    
}

.ft-blocks-title {
    color: #437532;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -20px;
}

#SNN {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

#toUp {
    width: auto;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    opacity:0;
    transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    position: fixed;
    bottom: 50px;
    right: 10px;
    color: #023B45;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
#toUp:hover {
    background-color: #023B45;
    color: #fff;
}

/*Login-pop-up*/

.login-reg-form-popup {
    position: relative;
    height: auto;
    width: auto;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #023B45;
    font-size: 14px;
    box-shadow: 0 0 8px #023B45;
    margin: 12% 39%;
    border-radius: 10px;
}

.field-login-form > div {
    display: grid;
}

.field-login-form div > input {
    width: 228px;
    height: 40px;
    border: solid 1px #b6b6b6;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
}

.field-login-form div > label {
    margin-bottom: 5px;
    margin-left: 5px;
}

.form-button {
    background-color: #437532;
    color: #fff;
    margin: 20px;
}

.form-button:hover {
    background-color: #fff;
    color: #437532;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#show-popup:checked ~ .popup-overlay {
    display: block;
}

.close-btn-login-popup {
    position: relative;
    top: 10px;
    right: -161px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close-btn-login-popup:hover {
    color: #000;
}

.close-btn-login-popup::before {
    content: "×";
}

.form-toggle {
    display: flex;
}

.form-toggle label {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background: #f5f5f5;
}

/* Активное состояние переключателя */
#login-toggle:not(:checked) ~ .form-container .form-toggle .login-tab {
    background: #023B45;
    color: white;
}

#login-toggle:checked ~ .form-container .form-toggle .register-tab {
    background: #023B45;
    color: white;
}

/* Прячем checkbox */
#show-popup, 
#login-toggle {
    display: none;
}

/* Прячем popup по умолчанию */
.popup-overlay {
    display: none;
}

/* Показываем popup когда checkbox отмечен */
#show-popup:checked ~ .popup-overlay {
    display: block;
}

.login-form {
    display: block;
}

.register-form {
    display: none;
}

#login-toggle:checked ~ .form-container .login-form {
    display: none;
}

#login-toggle:checked ~ .form-container .register-form {
    display: block;
}


/*Promo page*/

.promo{

    flex-wrap: nowrap;

}

#promo-left {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    min-width: 250px;
    height: auto;
    margin: auto 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

article {
    display: block;
    padding-left: 15px;
    border-left: #CCCCCC;
    border-width: 1px;
    border-style: groove;
}

#promo-period {
    color: #aaa;
    margin-top:-20px;
    margin-bottom: 30px;
}

#note {
    font-size: 11px;
}

/* politic */

.politic {
    margin: 50px auto;
}

.politic #title {
    font-size: 18px;
    font-weight: 600;
}